{% extends 'homepage/homepageBase.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <!-- linking css file -->
    <link rel="stylesheet" href=" {% static '/css/user.css' %}" />;

    <div class="register-page-font">  
        <form method="POST">
            <div class="registerField">    
            {% csrf_token %}
<!--  where does closing div tag for registerField go -->
            <fieldset class='form-group'>
                <legend class="border-bottom mb-4">Sign up</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group" >
                <div class="form-submit">
                <button type='submit' class="btn register-btn">Register</button>
                <!-- btn-outline-info -->
                </div>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In!</a>
            </small>
        </div>
    </div>
{% endblock content %}