{% extends 'account/accountBase.html' %}
{% load crispy_forms_tags %}
{% block accountContent %}
<div>
        
            
    <form method="POST">
        <div class="registerField">    

        {% csrf_token %}

        <fieldset class='form-group'>
            <legend class="border-bottom mb-4">Update Account Information</legend>
            {{ updateForm|crispy }}
        </fieldset>
        <div class="form-group" >
            <div class="form-submit">
            <button type='submit' class="btn btn-outline-info">Update Account!</button>
            </div>
        </div>

    </form>
    
    
        </div>
</div>
{% endblock accountContent %}