{% extends 'homepage/homepageBase.html' %}
{% block content%}
<div>
    <div class = "text-card-about">
        <p class="p-home-intro">
            Transfr
        </p>
        <p class="p-home-info">
            is a ride-sharing service specifically for medical transportation. Across America, there are millions of people who can't make it to the doctor's office. We are here to ensure that you can get to all of your appointments safely and on time so you can get the help, and ease of mind, you need. We are based out of the Oxford, Mississippi area and work with local hospitals and clinics to give you a smooth and convenient experience.
        </p>
    </div>
</div>
{% endblock content %}